@{
    ViewData["Title"] = "Política de Privacidade ";
}
<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <br />

    <p class="text-center">
        A sua privacidade é importante para nós. É política do Blogue Aprender Com os Dedos respeitar a sua privacidade em relação a qualquer informação sua que possamos coletar no site <span class="text-primary">https://localhost:7274/</span> e outros sites que possuímos e operamos.

        Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe fornecer um serviço. Fazemos isso por meios justos e legais, com o seu conhecimento e consentimento. Também informamos por que estamos coletando e como será usado.

        Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado. Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis para evitar perdas e roubos, bem como acesso, divulgação, cópia, uso ou modificação não autorizados.

        Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.

        O nosso site pode ter links para sites externos que não são operados por nós. Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade por suas respectivas políticas de privacidade.

        Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.

        O uso continuado do nosso site será considerado como aceitação de nossas práticas em torno da privacidade e informações pessoais. Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.

        <br />
        <br />
        <h1 class="text-center">Política de Cookies</h1>
        <br />

        Este site usa cookies para melhorar a experiência do utilizador. Quando visita o nosso site, as informações do seu navegador são coletadas e armazenadas de forma temporária. Este processo é realizado por meio de cookies, que são pequenos arquivos de texto armazenados no seu computador.

        Os cookies utilizados neste site podem incluir:

        Cookies estritamente necessários: essenciais para o funcionamento do site.
        Cookies de desempenho: utilizados para analisar o desempenho do site e melhorar a experiência do utilizador.
        Cookies de funcionalidade: utilizados para lembrar preferências e personalizar o conteúdo.
        Pode desativar os cookies nas configurações do seu navegador, mas observe que isso pode afetar a funcionalidade do site.

        Esta política de privacidade está sujeita a alterações sem aviso prévio. Recomendamos que reveja esta política regularmente para se manter informado sobre como estamos protegendo suas informações.

        Data da última atualização: 12/12/2023

        Se tiver alguma dúvida sobre esta Política de Privacidade, entre em contato connosco por <span class="text-primary">aprendercomosdedos@infocode.pt</span>.
    </p>

</div>