@model BlogProject.Models.ViewModels.UserViewModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Todos os Usuários (Criar/Apagar) - Admin</h1>
    </div>
</div>

<div>
    <div class="container py-5">

        <div class="mb-3 d-flex justify-content-end">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#modalCreateUser">
                Criar Usuário
            </button>
        </div>

        @if(Model.Users != null || Model.Users.Any())
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome de Usuário</th>
                        <th>Email</th>
                        <th> </th>
                    </tr>

                </thead>

                <tbody>
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Username</td>
                            <td>@user.EmailAddress</td>
                            <th>
                                <form method="post" a
                                    asp-controller="AdminUsers" 
                                    asp-action="Delete" 
                                    asp-route-id="@user.Id">
                                    <button class="btn btn-danger" type="submit">Apagar</button>
                                </form>
                            </th>
                        </tr>
                    }
                </tbody>

            </table>
        }
        else
        {
            <p class="fw-bold text-center">Nenhum Usuário Encontrado!</p>
        }


    

    </div>
</div>

<!-- Modal -->
<form method="post">

<div class="modal fade" id="modalCreateUser" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"> Criar Novo Usuário</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label class="form-label">Nome do Usuário</label>
                    <input type="text" class="form-control" asp-for="Username" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">E-mail</label>
                    <input type="text" class="form-control" asp-for="Email" required>
                </div>
                <div class="mb-3">
                    <label class="form-label">Senha</label>
                        <input type="password" class="form-control" asp-for="Password" required minlength="6" pattern="(?=.*\d).{6,}">
                </div>
                <div class="mb-3">
                    <div class="form-check">
                        <input type="checkbox" id="chekUserRole" class="form-check-input" value="User" checked disabled />
                        <label class="form-check-label" for="chekUserRole">Usuário</label>
                    </div>

                    @if(User.IsInRole("SuperAdmin"))
                        {
                            <div class="form-check">
                                <input type="checkbox" id="chekAdminRole" class="form-check-input"
                                       asp-for="AdminRoleCheckbox" />
                                <label class="form-check-label" for="chekAdminRole">Admin</label>
                            </div>
                        }
                        
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
        </div>
    </div>
</div>

</form>