@using System.Globalization
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager //use that to check if the user is logged in

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Aprender Com os Dedos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogProject.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">


    <link href='https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js'></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand me-3  text-uppercase text-secondary fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Aprender Com os Dedos</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Início</a>
                        </li>

                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin") )
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-danger fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminTags"
                                           asp-action="Add">
                                            Adicionar Tag
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminTags"
                                           asp-action="List">
                                            Gerir Tags
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminBlogPosts"
                                           asp-action="Add">
                                            Adicionar Publicação
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminBlogPosts"
                                           asp-action="List">
                                            Gerir Publicações
                                        </a>
                                    </li>

                                    <li>
                                        <a class="dropdown-item"
                                           asp-area=""
                                           asp-controller="AdminUsers"
                                           asp-action="List">
                                            Gerir Usuários
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }

                      

                    </ul>
                    <!-- search bar -->
                    <div class="d-flex align-items-center me-5">
                        <ul>
                            
                            <li class="nav-item">
                                <form id="searchForm" method="get">
                                    <div class="input-group">
                                        <input class="form-control" id="searchInput" name="q" placeholder="Pesquisar..." />
                                        <div class="input-group-append">
                                            <button type="button" class="btn btn-secondary" onclick="performSearch()">Pesquisar</button>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <!-- filter bar -->
                    <div class="d-flex align-items-center me-5">
                     
                        <ul>
                        <li class="nav-item">
                                <form method="get" id="filterForm">
                                    <div class="mb-3 text-light">
                                        <label for="startDate" class="text-secondary">Data de Início</label>
                                        <input type="date" class="form-control" id="startDate" name="startDate"  />
                                    </div>
                                    <div class="mb-3 text-light">
                                        <label for="endDate" class="text-secondary">Data de Fim</label>
                                        <input type="date" class="form-control" id="endDate" name="endDate" />
                                    </div>
                                    <button type="button" class="btn btn-secondary" onclick="performFilter()">Aplicar Filtro</button>
                                </form>
                        </li>
                        </ul>
                    </div>

                    <div class="d-flex align-items-center">
                        @if(SignInManager.IsSignedIn(User))
                        {
                            <div class="text-light me-3">
                                Olá, @User?.Identity?.Name
                            </div>

                            <a class="btn me-3 bg-danger text-light"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Logout">
                                Logout
                            </a>
                        }
                        else
                        {
                            <a class="btn me-3 bg-light text-dark"
                               asp-area=""
                               asp-controller="Account"
                               asp-action="Login">
                                Login
                            </a>

                            <a class="btn me-3 bg-light text-dark"
                                asp-area=""
                                asp-controller="Account"
                                asp-action="Register"
                                >Registar
                            </a>
                        })

                    </div>

                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">

            @RenderBody()
        
        </main>
       
    </div>

    <footer class="border-top footer text-muted bg-dark ">
        <div class="container text-light">
            &copy; 2023  Criado por <a class="text-primary fw-bold" >Wilson Miranda</a>  - Amprender Com os Dedos - <a asp-area="" asp-controller="Home" asp-action="Privacy">Política de Privacidade </a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function performSearch() {
            var searchTerm = $('#searchInput').val().toLowerCase();

            // hidden all items
            $('.contentSearch').hide();

            // show only items that contain the search term
            $('.contentSearch:contains("' + searchTerm + '")').show();
        }

        //  Custom jQuery :contains case-insensitive selector
        $.expr[":"].contains = $.expr.createPseudo(function (arg) {
            return function (elem) {
                return $(elem).text().toLowerCase().indexOf(arg.toLowerCase()) >= 0;
            };
        });
    </script>

  
    <script>
        
            function performFilter() {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();

                // Filter and display blog posts based on the selected date range
                $('.contentSearch').each(function () {
                    var postDate1 = $(this).data('date');
                    var parts = postDate1.split('/');
                    //format date to yyyy-mm-dd
                    var postDate = parts[2] + '-' + parts[0] + '-' + parts[1];

                //convert to date object for accurate date comparisons
                    var startDateObj = startDate ? new Date(startDate) : null;
                    var endDateObj = endDate ? new Date(endDate) : null;
                    var postDateObj = new Date(postDate);
                

                    var isVisible = (!startDateObj || postDateObj >= startDateObj) && (!endDateObj || postDateObj <= endDateObj);
                    $(this).toggle(isVisible);
                });
            }

         
    </script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
